<h1>API</h1>

<p>
The end goal of Warp is to have a fully functional web interface usable by musicians without requiring them to code, however
there are two reasons why you may want an API.
</p>

<ul>
<li>The Web UI isn't available yet - which is currently true.  Check back around September, most likely?</li>
<li>The API allows fancy generative compositions and allows you to see all of your patterns on the same screen at once</li>
</ul>

<p>
API docs to come.
</p>