
<h1>Clip</h1>

Users of popular grid-based DAWs (Digital Audio Workstations) like Ableton or Bitwig may be familiar with the concept of Clips.  Clips are, simply put, a small piece of something playable that contains MIDI notes.
A {{ doc('song') }} is what happens when you arrange clips by {{ doc('scene') }} and {{ doc('track') }} in a grid. Clips have a lot of parameters and they are one of the most
fundamental concepts in Warp to learn.

{{ begin_info_block() }}
Patterns, transforms, and scale references (or "symlinks") in clips are only references - which may make sense if you have a programming background.  What this means is that if I have a pattern named "groove1" and I later
reconfigure what symbols are in groove1, it will change in all clips that use that pattern.  Since this is also true for transforms and scales, it makes it easy to try out large-scale variations in a song without tedious
reprogramming of an entire piece.
{{ end_info_block() }}


<h2>Basic Features</h2>

<ul>
<li>A clip contains a list of one or more {{ doc('pattern', 'Patterns') }} that play in order.</li>
<li>A clip belongs to a {{ doc('scene') }} (horizontally) and a {{ doc('track') }} (Vertically) in the {{ doc('song') }} grid.</li>
<li>As in popular grid-based DAWs, playing a clip will stop any other clips that are playing in the same {{ doc('track') }} as the clip.</li>
<li>A clip may have one or more {{ doc('scale','Scales') }}.  These scales are used for each playing {{ doc('pattern') }} and are rotated in a loop as each pattern advances or the clip repeats.</li>
<li>If a clip does not have a {{ doc('scale') }} assigned, the {{ doc('scale') }} can come from the {{ doc('scene') }}, and if not set there, the {{ doc('song') }}.
<li>A clip may also define a tempo multiplier rate such as 0.5 (half speed) or 2 (double speed)</li>
</ul>

<h2>Advanced Features</h2>

<ul>
<li>A clip may have one or more {{ doc('transform', 'Transforms') }}, which are powerful tools that modify the currently playing {{ doc('pattern') }}.  These are used in rotation just as the {{ doc('scale', 'Scales') }} are.</li>
<li>A clip may have a list of tempo_shifts, which are added or subtracted to the tempo of each playing {{ doc('pattern') }}. These rotate similarly.
<li>A clip may be set to repeat indefinitely (it will end if the scene ends), or for a finite number of times.</li>
<li>A clip may be programmed to advance the {{ doc('scene') }} when the clip completes. This is off by default.</li>
<li>A clip may trigger another specific clip when it completes. This does not occur if the clip is set to advance a {{ doc('scene') }}.</li>
</ul>


