<h1>Club</h1>

<p>
Many resources for Warp users centered around <A HREF="http://">Michael DeHaan's Patreon page</A>. For just $3 a month, you can get
access to inside blog posts, feature polls, warp song files, our discord channel, and extra video livestreams and chats with Michael.  It's the inside track
to all things Warp. You may also get some random eurorack posts.
<p>

<p>
You can also follow <A HREF="http://twitter.com/warpseq">@warpseq</A> on twitter for some less detailed updates about new features.  It's not going to be nearly
as good as the Patreon.
</p>

<p>
Access to the discord chat is also available to contributors who are not Patreon subscribers.  Everyone has the ability to report bugs
via <A HREF="https://bitbucket.org/laserllama/warpseq/src/master/">BitBucket</A>, but we do not take feature request tickets or provide support through BitBucket.
Support questions are welcome via <A HREF="mailto:michael@michaeldehaan.net">Email</A>.
</p>
