<h1>Club</h1>

<p>
Many resources for Warp users centered around Michael DeHaan's <A HREF="http://">patreon page</A>. For a low monthly fee, you can get
access to inside blog posts, feature polls, warp song files, our discord channel, and extra video livestreams and chats with Michael.
<p>

<p>
You can also follow <A HREF="http://twitter.com/warpseq">@warpseq</A> on twitter for some less detailed updates about new features.
</p>

