<h1>Club</h1>

<p>
Many great resources for Warp users are available by supporting <A HREF="http://">Michael DeHaan's Patreon</A>. Supporters have
access to extra blog posts, feature polls, warp song files (for every song Michael makes with Warp), our discord channel (community text chat!), extra video livestreams (possibly including some community
performances later), and scheduled video chats. This is the inside track to all things Warp and a great way to meet and interact with other users. You may also get some random eurorack-related posts.
<p>

