<h1>Concepts</h1>

Warpseq is based on concepts commonly used in DAW environments and electronic composition.  Still, it helps to explain some of these concepts
as they relate to Warpseq.

<h2>Glossary</h2>

<h3>Song</h3>

A song is the default unit of composition, and can be saved and loaded from disk. A song remembers not only a composition, but the setup of MIDI musical devices attached to it.
A warpseq file is always a song, and you can also treat them as templates, but there is nothing different between a template and a song.

A song defines a default tempo in beats per minute (BPM), which may be overriden in different places as noted below.
Similarly, a song can define a default musical scale for all clips that do not otherwise have the scale set from somewhere else - the whole composition does not have
to use this scale.  Warp in general allows default overriding at a variety of levels in the object hierachy.

"Scale" here means a key and a mode, basically, like C-mixolydian or F#-pentatonic.

<h3>Instrument</h3>

An <b>instrument</b> is a MIDI-capable musical instrument, represented by the name of an attached MIDI device and a port number.  For instance, software synths may be accessed on
"IAC Audio Bus 1", but hardware MIDI would use a different device name depending on what device you have.  As such, if you move a song file to a different computer, you might
have to edit the instrument to make a song file work.

(An instrument defines a minimum and maximum octave, as well as default octave, though this is currently mostly informational)

<h3>Track</h3>

A track represents the assignment of a device to a composition. A track contains Clips.

(A track may be muted, which silences all clips playing as part of that track.  This is currently not implemented)

<h3>Scene</h3>

A scene represents a set of clips that are usually played together (triggered) at the same time, though they don't have to be.

A scene may override the scale and tempo of a song.

<h3>Clip</h3>

A clip represents the assignment of a combination of pattern of notes, an arpeggiator (optional), and other parameters to a scene and track.

A clip may override the scale and tempo of a scene or song.

<h3>Pattern</h3>

A pattern is a sequence of expressions - not neccessarily notes - that are evaluated to become notes.  See {{ doc('expressions') }}.
Patterns will also calculate note values based on what is  happening on other tracks.

Patterns used in multiple-clips are references to the same pattern, they are not copies, allowing different clips to use the same pattern
across tracks, possibly with different arpeggiators.

Patterns playing at one time can be of odd lengths.  Patterns also have a note length attached, which does not have to be assigned at the clip.

For maximum versatility, a pattern can also *optionally* override the tempo and scale of a clip!

<h3>Arpeggiator</h3>

An arpeggiator, or 'arp', is a pattern that modifies other patterns.  Historically, an arpeggiator slices up chords into individual notes, but in Warp, they
are capable of all sorts of more chaos. They may be thought of as meta-patterns.  This is also explained further in {{ doc('expressions') }}.

Arpeggiators have a 'divide' number which is how many slices they chop up each note in a pattern into. At each division, they use a different part of the arpeggiator pattern
to modify the note that is currently active in the attached pattern. The pattern may be longer than the divide, enabling for surprising effects.


