<h1>Contributing</h1>

<p>
Warp is provided to you under an Apache2 open source license.  Contributions are very welcome and we want Warp to be a tool for everyone.
Copyright is held by all contributors without assignment, and the license can not be changed.
</p>

<p>
To contribute, you should first discuss what features you would like to add with <A HREF="mailto:michael@michaeldehaan.net">Michael</A> over
email, to avoid duplicate efforts and to assure compatible goals. Then, when ready, submit a pull request to
<A HREF="https://bitbucket.org/laserllama/warpseq/src/master/">warpseq on BitBucket</A>.  We'll generally be very interested in code review,
so this is why up front discussion of where to implement a feature may save some extra effort.
</p>

<p>
While absolutely not required, it will be easier to submit pull requests if you are also following {{ doc('club') }} news.  This also gets
you access to discord chat, which is a better way to talk about ideas than on BitBucket or email - because it is a space all contributors can
talk together at once.  You may also wish to follow <A HREF="http://twitter.com/warpseq">@warpseq</A> on twitter.
</p>

<p>
We have one very important rule: Any additions must take care to not break song files of existing users.
</p>

<p>
Thank you for interest in this project and we look forward to working and talking with you!
</p>


