<h1>Contributing</h1>

<p>
Warp is open source Apache2 licensed software.  Contributions are very welcome and we want Warp to be a tool for everyone.
</p>

<p>
To contribute, you should first discuss what features you would like to add with <A HREF="mailto:michael@michaeldehaan.net">Michael</A> over
email, to avoid duplicate efforts and compatable goals. Then, when ready, submit a pull request to
<A HREF="https://bitbucket.org/laserllama/warpseq/src/master/">warpseq</A> on bitbucket.  We'll generally be very interested in code review,
so this is why up front discussion of where to implement a feature may save some extra effort.
</p>

<p>
Any additions must take care to not break song files of existing users.
</p>

<p>
Thank you for interest in this project!
</p>

