
<h1>Device</h1>
<hr/>

<p>
For Warp to be able to send MIDI notes, it needs to know where to send them. A Device object references any computer operating system visible MIDI Device, such as a hardware USB MIDI interface or
a virtual one like an Apple IAC Audio Bus.
</p>

{{ begin_info_block() }}
In OS X, creating an IAC Bus (see {{ doc('installation') }}) is needed to allow Warp to talk to software synths.
{{ end_info_block() }}

<p>
Warp is targeted just as much at hardware synths as software synths, and can speak to multiple devices of both kinds at once.
</p>

