
<h3>Device</h3>

<ul>
<li>A device is any computer operating system visible MIDI Device, such as a USB MIDI interface or the IAC Audio Bus.</li>
<li>Some sort of MIDI Device - physical or virtual - is required to use Warp.</li>
<li>If you don't own any hardware synths, this is not a problem, Warp can also talk to software synths.</li>
<li>In OS X, creating an IAC Bus (see {{ doc('installation') }} will allow Warpseq to talk to software synths.</li>
<li>Warp is targetted just as much at hardware synths as software synths, and can speak to multiple devices and instruments at once.</li>
</ul>