<h2>Randomness</h2>


There are two forms of randomness supplied - range and choice.

<h3>Random Range</h3>

The first form - range - picks a value between a range. The two limits of the range are separated by a colon (":").
Here we randomly jump the third note in a pattern by between 0 and 4 octaves each time it plays:

{{ begin_code() }}
1
2
3 O+0:4
4
{{ end_code() }}


<h3>Random Choice</h3>

The second form - choice - involves choosing from a list, which allows some control over probability distribution if an entry
appears in a list more than once.  The choices in the list are separated by commas (",")

{{ begin_code() }}
3 O+0,2,3
{{ end_code() }}

In the above example, the note jumps 0, 2 or 3 octaves, but the chance of an octave jump is 50%, because two of the values
are zero.

Choice is also the only random form that works with non-numeric values, such as this random chord type example:

{{ begin_code() }}
I
3 ch=major,minor
{{ end_code() }}

In this example, the second note is either a major or minor chord, with equal chance.

As an example effecting probability, this quick example shows a 1/3 chance of a minor chord:

{{ begin_code() }}
I
3 ch=major,major,minor
{{ end_code() }}



<h3>Randomness for Humanization</h3>

Humanizing otherwise repetitive patterns is a popular feature in many sequencers, and here's an example
of humanizing velocity in Warp while playing a two octave scale, with every four notes being full volume.

{{ begin_code() }}
1 v=127
2 v=60:80
3 v=60:80
4 v=60:80
5 v=127
6 v=60:80
7 v=60:80
8 v=60:80
9 v=127
10 v=60:80
11 v=60:80
12 v=60:80
13 v=127
14 v=60:80
15 v=60:80
16 v=60:80
{{ end_code() }}

Because MIDI CC's are sticky between notes, assigning random values to CC values can work like a tempo-synced sample
and hold.  The example below changes twice in each pattern iteration.

{{ begin_code() }}
1 cc0=0:127
2
3
4
5
6 cc0=0:127
7
8
9
10
{{ end_code() }}

This could be done with multiple MIDI CCs, changing them at different points in the pattern:

{{ begin_code() }}
1 cc0=0:127
2
3 cc1=20:127
4
5
6 cc0=0:127
7
8 cc2=40:80
9
10
{{ end_code() }}

