<h1>Intra-Track Expressions</h1>

<p>
Warpseq allows tracks to choose what they are doing based on what is happening on other tracks. We may call these tracks
"guide tracks", and often, they might even be muted tracks that are not themselves playing notes.
</p>

<p>
So far, the only intra-track operation supported is a note-grab.  When we say intra-track, we mean commands that set things
that happen on the current track based on things that happen on *other* tracks.
</p>

<h2>Note Grabs</h2>

Note grabs allow one track to replace the value of what note should play based on using the value of another track's last
played note.

<p>
This allows for powerful harmonization.  Imagine, if you will, a muted track 1 containing melody information as part of a scale.
</p>

{{ begin_code() }}
1
2
3
4
1 O+1
2
4
1 O+2
1
3
{{ end_code() }}

Another track can play harmonized chords - even at a different tempo, that will always line up.  This is as if one player in a band
was listening to another player:

{{ begin_code() }}
1 T=melodyTrack ch=major
-
-
-
1 T=melodyTrack ch=minor
-
-
-
-
{{ end_code() }}

That's a short pattern.  Now we can add a baseline, which takes the melody track and drops down a few octaves.

{{ begin_code() }}
1 T=melodyTrack
{{ end_code() }}

The bass pattern can be zero length, because we want to apply an arp pattern to it, that might look like this:

{{ begin_code() }}
1 T=melodyTrack O-1
1 T=melodyTrack O-1 S+1
1 T=melodyTrack O-1 S+2
1 T=melodyTrack O-1 S+3
{{ end_code() }}

<p>
The arp plays the first note the melody track is playing, then three successive notes going up 1, 2, and then 3 scale
notes, all in key, but also one octave down.
</p>

<p>
While the data entry of this may SEEM a little tedious, these same patterns can be played throughout large parts of the
song (if desired), and do not need to be rewritten when varying the melody track.
</p>

<p>
As such, we can make an entire song out of considerably LESS clips than in some other systems, by reusing patterns like this.
</p>

{{ begin_warn_block() }}
NOTE: (BUG) Currently the parser will not work with note grabs if the targetted track names contains spaces.
{{ end_warn_block() }}


