
<h1>Expressing Literal Notes</h1>
<hr/>

<p>
Warp can represent scale notes or just specific "literal" notes. Literal notes are entered in with note names (letters) followed by an octave number. In contrast, scale notes are entered in as arabic numbers or roman numerals (for chords),
rather than letters.</p>

 <p>
For starters, let's learn how to input literal notes that won't be affected by the current
{{ doc('scale','Scale') }}.  This is something you will need to do when using drum synths, but otherwise, you'll probably be using {{ doc('expr_scale_notes', 'Scale Notes') }} more frequently.
</p>

<p>
For a starter example, think about playing a musical scale.  If the scale is "C-major" and we start on the 4th octave: then that scale is simply:
</p>

{{ begin_code() }}C4
D4
E4
F4
G4
A4
B4
C4
{{ end_code() }}

<p>
That, as simple as it is, is a valid pattern in Warp!  In the {{ doc('api','API') }}, these are expressed as Python lists. In the UI,
you would put each on a line by itself.
</p>

<p>
Of course, you can access the black keys as well, as either sharps or flats, as is your preference:
</p>

{{ begin_code() }}
Eb4
C#4
{{ end_code() }}

<h3>Next Steps</h3>
<hr/>

{{ begin_info_block() }}
If you want to input notes or chords that instead follow the scale settings -- which is in general what you want to do when writing anything that isn't a percussion track -- see {{ doc('expr_scale_notes') }}.
{{ end_info_block() }}

