
<h1>Silence (Gaps)</h1>

Often we don't want a pattern to be constantly playing notes.  We might want to leave some gaps.

The symbol "_" or "x" (or an empty space) represents a slot in a pattern where nothing should play.

{{ begin_code() }}1
2
3

1
2
3
{{ end_code() }}

<h2>Ties</h2>

A hyphen in a step extends the note out for an additional note duration, Here we have some longer chords held for
four notes each and then part of a scale:

{{ begin_code() }}IV
-
-
-
iii
-
-
-
1
2
3
4
5
{{ end_code() }}

{{ begin_info_block() }}
Since all notes in a pattern are by default the same length, longer notes are created by using ties.  The system does
not allow for playing broken chords (arpeggiators exist via {{ doc('transform','Transforms') }} however!), but if you desire the ability to play broken
chords, you can have multiple tracks target the same instrument, and that is an easy way to accomplish this.
{{ end_info_block() }}