<h3>Variable Engine</h3>

Warp contains a variable engine where variables can be shared between tracks and scenes.  The variables
are set and accessed as follows, and CAN be used in conjunction with the randomness features above.

{{ begin_code() }}
1;$x=5;$y=10
2;$z=20
3;
4;cc0=$x
5;$y=0:50
6;cc1=$y
7;
8;cc0=0:$y
9
10;cc0=$x
11;
{{ end_code() }}

The above example is a little crazy, but the basics are that variables can be substituted anywhere a number can
be in a modifier expression.  Variables can also hold strings, like so:

{{ begin_code() }}
_;$x=power,major,minor
4;ch=$x
8;ch=$x
{{ end_code() }}

In the above example, the first in the pattern is silent, and then we play two chords of the same type.

The variable engine can be mostly ignored if you don't want to use it, but could be interesting in more
complex works.