
<h3>Mod Expressions As Applied To Arps</h3>

Arpeggiators also use mod expressions, though the patterns for arps do not start with notes.
For instance, an arp pattern sequence might look like this:

{{ begin_code() }}
O+2
O+1
0
O+1
O+2
{{ end_code() }}

The above sequence would play the first note in the arp 2 octaves up, the 1, then as written, then 1 up, and then 2 up.

Alternatively, the arp can ALSO muck with any parameter it wants, including creation of chords.  Here is a particularly
non-musical example:

{{ begin_code() }}
0
0 cc10=90 v=80
x
O+1
0 cc10=0:120
{{ end_code() }}

In this example, the first note plays as is, the second does with modified velocity and MIDI CC 10, the third
note is silenced, the fourth note is an octave up, and the fifth note plays as is with random MIDI CC information that
will persist as the arp cycles back on the first slot and finally be overwritten on the second.


