
<h1>Expressing Literal Notes</h1>

<p>
Warp can represent scale notes or just specific notes.
</p>

<p>
Think about playing a musical scale.  If the scale is "C-major" and we start on the 4th octave: then that scale is:
</p>

{{ begin_code() }}C4
D4
E4
F4
G4
A4
B4
C4
{{ end_code() }}

<p>
That, as simple as it is, is a TOTALLY VALID pattern in Warpseq.  You can program notes in like that if you want.  However,
they won't respond to any scale settings in Warp.  They'll just stick to what you input.  That is decidedly LESS useful, but you can do it.
</p>

<p>
Anyway, you can access black keys as well, with either sharps or flats:
</p>

{{ begin_code() }}
Eb4
C#4
{{ end_code() }}

<p>
If you want to input something that obeys the scale settings, see {{ doc('expr_roman') }}.
</p>

<p>
As you use Warp, you'll just type these notes in.  There's no piano roll, or assumption that you play keyboards.
If you are a guitar or euphonium person that also does eurorack, you're just as welcome here.
</p>
