<h1>Expressions</h1>

<h2>Basic Note Expressions</h2>

Examples of expressions pending, such as: C4, C4dim, C4major, 1, 2, 3, IV, iv, etc

Ties: -

Empty notes: x or ""

<h2>Modifiers</h2>

Modifiers allow things like: O+1,O-2,+1,-2,S+1,S-4,#,b

Seperate with ";" - can use multiples

<h2>Arpeggiator Expressions</h2>

All modifiers are legal, explanation TBD


