
<h1>Mod Expressions</h1>
<hr/>

<p>
Any literal notes or scale notes in a {{ doc('pattern') }} may be followed by a space and one or more modifiers, separated by spaces.
</p>

<p>
In basic {{ doc('pattern', 'Patterns') }}, these modify the notes in the pattern. In {{ doc('transform', 'Transforms') }}, however,
these expressions do not include a preceeding note or chord symbol, and modify the currently playing part of the pattern on which
they are applied as the clip is evaluated.
</p>

<p>
We will start this chapter with some of the more basic note modifiers, shown in {{ doc('pattern','Pattern') }} examples.
</p>

<hr/>
<h3>Octave Shifts</h3>

A basic example shows some octave offsets.  Assuming the scale was C major and the base octave was 4...

{{ begin_code() }}1 O+1
1 O-2
2 O=4
{{ end_code() }}

... the above set of patterns would produce a C5, a C2, and D4.

<hr/>
<h3>Velocity Controls</h3>

Velocity can be adjusted in one of many ways.

{{ begin_code() }}1 v=100
2 v+10
3 v-10
{{ end_code() }}

Velocity takes a value between 0 and 100, and does not always map to  volume - it depends on your instrument.
The latter two examples might be interesting in arpeggiator techniques with {{ doc('transform', 'Transforms') }}.
See the {{ doc('expr_random') }} section for more tricks involving MIDI velocity.

<hr/>
<h3>MIDI CC Controls</h3>

MIDI CCs can be used to add interesting variations.

{{ begin_code() }}1 cc1=20
4
10 cc1=80
{{ end_code() }}

In the above example, the MIDI CC value for channel 1 is "20" for the first 2 notes, and 80 for the last note.
MIDI CCs are sticky. See the {{ doc('expr_random') }} below for more tricks involving MIDI CCs.

<hr/>
<h3>Degree Shifts</h3>

Making a note go up or down a scale interval works as follows:

{{ begin_code() }}1 +5
1 -b3
{{ end_code() }}

The above example shows moving a note up a perfect fifth and down a flat third.  This doesn't make much sense
in a basic {{ doc('pattern') }}, but would make more sense in a {{ doc('transform') }}. Fair warning: this can select
notes outside the current scale.

<hr/>
<h3>Flats and Sharps</h3>

Accidentals outside the scale are easy to access:

{{ begin_code() }}1
2
3 b
4
5 #
6
7
{{ end_code() }}

Note that sometimes the accidentals will still be inside the scale.  It depends on the scale.  These can also be used, like all
mod expressions, in {{ doc('transform', 'Transforms') }}.

<hr/>
<h3>Scale Shifts</h3>

Scale shifts can jump a note up or down in the current scale:

{{ begin_code() }}1 S+2
4 S-2
{{ end_code() }}

This may seem pointless, because we could have just said "3" or "2" here, but these can be used in powerful ways inside
of arpeggiators built with {{ doc('transform','Transforms') }}.

{{ begin_info_block() }}
REMINDER: We do not have different docs for mod expressions - the parts that come after the notes in Patterns, and mod expressions as
used in Transforms. They are usable everywhere.  Transforms just don't have the preceeding note information.
{{ end_info_block() }}

<hr/>
<h3>Probability Events</h3>

A probability event can be assigned so that the next event has only a partial chance of firing.

{{ begin_code() }}1 p=0.5;O+2
{{ end_code() }}

In the above example, the note will jump an octave only half of the times the pattern plays.  These are a form of randomness, so this
section is somewhat of a spoiler for the {{ doc('expr_random') }} section.

<hr/>
<h3>Silence Events</h3>

Silences are most useful with probabilities.

{{ begin_code() }}1 p=0.5;x
{{ end_code() }}

In the above example, the event will not play half of the time.  This has some relation to the {{ doc('expr_rests_ties') }} section.

<hr/>
<h3>Chordification</h3>

While chords can be explicitly entered, chords can also be created from mod expressions in patterns or in arpeggiators.
See the "Randomness" section below for more tricks involving chords.

{{ begin_code() }}1 ch=power
4 ch=major
3 ch=sus4
{{ end_code() }}
