<h1>Frequently Asked Questions</h1>

<h2>General Questions</h2>

<h3>Is Warp Free?</h3>

<p>
Yes. Warp is free and open source software.  See {{ doc('contributing') }} for details on how to help with development, if you are interested. See {{ doc('club') }} for some awesome user community opportunities.
</p>

<h3>What's Coming Next?</h3>

<p>
Right now Warp is in a developer-beta release mode where only the Python API is available.  We are going to be releasing a web interface in the Fall of 2020, and can talk more about future plans beyond the UI then.
See {{ doc('ui') }} for a rough sketch of what the UI will include.  Song files created today should be loadable by the UI.
</p>

<h2>DAW Questions</h2>

<h3>Does Warp work with Hardware or Software Synths?</h3>

<p>Warp works with both. To use software synths, you may need to create a virtual bus.  See "<A HREF="<A HREF="https://help.ableton.com/hc/en-us/articles/209774225-How-to-setup-a-virtual-MIDI-bus">How To Setup A Virtual MIDI Bus [Ableton.com]</A>",
of which most is generic.

<p>Warp can talk to multiple MIDI devices at one time, including a mix of hardware synths and software.  A hardware MIDI interface has multiple numbered output channels. While MIDI hardware can normally be daisy chained, we would recommend
using a MIDI splitter, like a <A HREF="https://kentonuk.com/product/thru-5/">Kenton Thru</A> to reduce latency.</p>

<h3>Does Warp replace my DAW?</h3>

<p>Generally no, but it could. You might still want to record audio in your DAW, possibly record MIDI from Warp, and use the DAW to host VST and AU format effects.  You may not need a full compositional environment, however, and could choose
to use more of an audio recording program - or even a tape deck.  This is up to you.
</p>

<h3>How Do I Use My DAW with Warp?</h3>

<p>You want to set up MIDI tracks for all of your software synths, accepting input on the proper channels (such as an "IAC" or virtual bus) and not "Omni" channels.  To receive incoming MIDI, be sure to arm your tracks.
You do not need to make MIDI tracks in your DAW for hardware synths if you don't want to, audio only tracks are fine.</p>

<h2>Feature Questions</h2>

<h3>Does Warp have arpeggiators?</h3>

<p>Yes, you can build a simple arpeggiator with a transform. Just set the divide time to 3. This is covered in {{ doc('expr_transforms') }}.</p>

<h3>More To Come...</h3>

