<div align='right'>
<A HREF="https://bitbucket.org/laserllama/warpseq/src/master/">BitBucket</A> | <A HREF="https://twitter.com/warpseq">Twitter</A> | <A HREF="https://www.patreon.com/mpdehaan?fan_landing=true">Patreon</A> | &copy; Michael DeHaan, 2020
</div>
