{{ begin_info_block() }}
Warp is in EARLY BETA preview.  The Python {{ doc('api') }} is available now, and fully functional. User interface releases Fall 2020.
For any beta related questions, ideas, or feedback, <A HREF="mailto:michael@michaeldehaan.net">email Michael</A>. I'd love to hear from you.
{{ end_info_block() }}

<h1>Warp MIDI Sequencer</h1>

<p>
Warp is a <B>highly music theory aware</B> MIDI sequencer for software and hardware synthesizers. It is open source (Apache 2 licensed), and built in Python.
Warp has an emphasis on allowing carefully <B>sculptable randomness, key-changes, tempo changes, and pattern variations</B>.
</p>

<p>
Warp is inspired
by tools such as Ableton Live, and hardware like the Sequentix Cirklon and the Elektron Monomachine. Like Ableton is grid based,
but the pattern engine is infinitely more powerful. You will probably use Warp with your DAW open in the background,
either recording audio or MIDI inputs from Warp.
</p>

<img src="./synths.png" WIDTH=30%>

<h2>Ready To Get Started?</h2>

<p>
This website contains extensive documentation that will teach you about Warp and help you understand if it is right for you.
We encourage you to reach out and share your stories, feature ideas, and music with us.  For those about to rock, we salute you.
</p>

<p>
-- <A HREF="http://michaeldehaan.net">Michael DeHaan</A>
</p>

