
<h1>Warp MIDI Sequencer</h1>

<p>
Warp is an new music-theory-aware MIDI sequencer for software and hardware synthesizers designed for composition and dynamic live performance.</p>

<p>
Warp is inspired by some of our favorite tools such as Ableton Live, the Sequentix Cirklon, and the Elektron Monomachine. Like Ableton, Warp is grid based, yet
instead of using a piano roll, patterns (and modifiers called "transforms") are simply typed in. This solves problems with cumbersome piano roll widgets which are nearly
impossible to tweak live. You will probably use Warp with your DAW open in the background, either recording audio or incoming MIDI from Warp.
</p>

<p>Warp is open source (Apache 2 licensed), and built in Python.
Warp has an emphasis on enabling intentional randomness, choreographed key-changes, and emergent new musical frontiers through a powerful built-in transform language.
You haven't seen anything like it.
</p>

<img src="./synths.png" WIDTH=30%>

{{ begin_info_block() }}
Warp is a developer beta preview stage.  The Python {{ doc('api') }} is available now (though it's *not* a full live-editable environment), and is fully functional.
A new user interface will open up Warp to everyone and will release in the Fall of 2020. For any beta related questions, ideas, or
feedback, <A HREF="mailto:michael@michaeldehaan.net">email Michael</A>. We'd love to hear from you.
{{ end_info_block() }}

{{ begin_info_block() }}
Tip: Joining the <A HREF="http://FIXME">Warp Patreon</A> allows you access to extra tips & tricks, inside blog posts, sample files, live video chats, and our community discord channel.
{{ end_info_block() }}

<h2>Ready To Get Started?</h2>

<p>
This website contains extensive documentation that will teach you about Warp -- just explore the chapters on your left.
We encourage you to <A HREF="mailto:michael@michaeldehaan.net">reach out</A> and share your stories, feature ideas, and music with us.  For those about to rock - we salute you.
</p>

<p>
-- <A HREF="http://michaeldehaan.net">Michael DeHaan</A>
</p>

