<h1>Installation</h1>

Thank you for interest in trying out Warp!

{{ begin_info_block() }}
Warp is in a API-only beta phase through Fall 2020 as we work to build the performance-oriented user interface.  The instructions below cover
setting up the API and will include install instructions for the UI once released. For now, we will assume some basic Python development and
command line skills. If you know another programming language, you should find Python easy to learn, and Warp requires only a small amount of Python knowledge.
{{ end_info_block() }}

<h2>Requirements</h2>

<p>
Warp should work on most any computer. First install <i>python3</i> and <i>git</i> if you do not already have them.  On a Mac, we recommend installing these from <A HREF="https://brew.sh/">homebrew</A>:
</p>

{{ begin_code(language='bash') }}
brew install python3
brew install git
{{ end_code() }}

<h2>Checkout</h2>

<p>
Now clone the project into a directory:
</p>

{{ begin_code(language='bash') }}cd wherever
git clone https://laserllama@bitbucket.org/laserllama/warpseq.git
{{ end_code() }}

<h2>Libraries</h2>

<p>
Now install the dependencies:
</p>

{{ begin_code(language='bash') }}pip3 install -r requirements.txt
{{ end_code() }}

{{ begin_info_block() }}
If the pip install fails on a Mac, you may need to install xcode developer tools, run: "xcode-select --install"
{{ end_info_block() }}

<h2>Creating a Virtual Bus</h2>

<p>
If you want to use Warp with software synthesizers, you will need to create a Virtual Bus in your operating system if you do not already have one.
Ableton has already written some great documentation on creating them:
</p>

<p>
<A HREF="https://help.ableton.com/hc/en-us/articles/209774225-How-to-setup-a-virtual-MIDI-bus">How To Setup A Virtual MIDI Bus [Ableton.com]</A>.
</p>

<p>
You can skip step 5 in the above document -- it's Ableton specific.  Further, if you want to just use hardware, and don't need to route MIDI
through your DAW, you can also choose to not set up a virtual bus.
</p>

<h2>Ready?</h2>

<p>
We are ready to go.  At this point of the Warp beta, only the python API is available.  The UI is coming soon in the Fall of 2020.
To try out Warpseq from the API, we will use python to run one of the examples:
</p>

{{ begin_code(language='bash') }}cd examples/api
python3 tests/00_kick_snare.py
{{ end_code() }}

<p>
The program may prompt you about selecting a MIDI device name.  If the demo sounds strange, you probably need to choose
some different instruments.
</p>

<p>
When the UI is available, there will just be a few more install steps for Web UI dependencies.
</p>

<h2>Next Steps</h2>

<p>
With everything installed, you are ready to try some more of the {{ doc('api') }} examples.  However we also recommend
you read through the "Concepts" and "Expression Language" sections (on the left) to get a better feel of what
the examples are teaching.
</p>

<p>
The API examples are only the start, what you create is up to your imagination and can
get rather advanced as you start incorporating concepts like "transforms".  Have fun trying out the examples and
exploring the docs!
</p>

<p>
If you get stuck or have a question, we're trying to refine our
documentation at this stage so please <A HREF="mailto:michael@michaeldehaan.net">Email Michael</A>.  We'd be
glad to hear from you!
</p>

