<h1>Installation</h1>
<hr/>

Thank you for interest in trying out Warp!

{{ begin_info_block() }}
Warp is in a API-only beta phase through Fall 2020 as we work to build the performance-oriented user interface.  The instructions below cover
setting up the API and will detail the UI once ready. For now, we will assume some basic Python development and
command line skills. If you know another programming language, you should find Python easy to learn, as Warp requires only a small amount of Python knowledge.
{{ end_info_block() }}

<hr/>
<h2>Requirements</h2>

<p>
Warp should work on most any computer. First install <i>python3</i> and <i>git</i> if you do not already have them.  On a Mac, you can install these through <A HREF="https://brew.sh/">homebrew</A>:
</p>

{{ begin_code(language='bash') }}
brew install python3
brew install git
{{ end_code() }}

<hr/>
<h2>Checkout The Source Code</h2>

<p>
Clone the project into any directory you like:
</p>

{{ begin_code(language='bash') }}cd wherever
git clone https://laserllama@bitbucket.org/laserllama/warpseq.git
{{ end_code() }}

<hr/>
<h2>Libraries</h2>

<p>
Now install the Python library dependencies:
</p>

{{ begin_code(language='bash') }}pip3 install -r requirements.txt
{{ end_code() }}

{{ begin_info_block() }}
If the pip install fails on a Mac, you may need to install or update XCode developer tools to build a MIDI library we use. Run: "xcode-select --install" and
then retry the command.
{{ end_info_block() }}

<hr/>
<h2>Creating a Virtual MIDI Bus</h2>

<p>
If you want to use Warp with software synthesizers, you will need to create a Virtual Bus in your operating system if you do not already have one.
Ableton has already written some great documentation on creating one:
</p>

<p>
<A HREF="https://help.ableton.com/hc/en-us/articles/209774225-How-to-setup-a-virtual-MIDI-bus">How To Setup A Virtual MIDI Bus [Ableton.com]</A>.
</p>

<p>
You can skip step 5 in the above document -- it's Ableton specific.  Further, if you want to just talk to hardware MIDI instruments, and don't need to route MIDI
through your DAW, you can also choose to not set up a virtual bus.
</p>

{{ begin_warn_block() }}
When writing your tracks, unless you feel the need to record MIDI notes vs audio, you should possibly consider not routing MIDI through the IAC bus
into your hardware synthesizers. You will have better performance talking to your MIDI interface hardware directly.
{{ end_warn_block() }}

<hr/>
<h2>Ready?</h2>

<p>
We are ready to go.  At this point of the Warp beta, only the {{ doc('api', 'Python API') }} is available.  The UI is coming soon in the Fall of 2020.
To try out Warpseq from the API, we will use python to run one of the examples:
</p>

{{ begin_code(language='bash') }}cd examples/api
python3 tests/00_kick_snare.py
{{ end_code() }}

<p>
The program may prompt you about selecting a MIDI device name.  If the demo sounds strange, you probably need to choose
some different instruments.  The first example, as you will read in the source code, uses a kick drum on MIDI channel 1
and a snare drum on MIDI channel 2.  Most other API demos work well with a polyphonic synth with a short decay time on MIDI channel 1 and
a similar but different sounding patch on MIDI channel 2.
</p>

<hr/>
<h2>Next Steps</h2>

<p>
With everything installed, you are about ready to learn the {{ doc('api','API') }} and try some more of the API examples.
</p>

<p>We recommend
you skim through the "Concepts" and "Expression Language" sections (on the left) as well to get a better feel of what
the examples are teaching. As you work on songs, you can consult back to the documentation for reference.
</p>

<p>
The API examples are only the start, what you create is up to your imagination and can get rather advanced as you start incorporating randomness, key changes, tempo changes, transforms, and variables.
Have fun trying out the examples and seeing what you can create!
</p>

{{ begin_info_block() }}
If you get stuck or have a question, we're always wanting to refine our
documentation, so please <A HREF="mailto:michael@michaeldehaan.net">Email Michael</A>.  We'd be glad to hear from you!
{{ end_info_block() }}

