<h1>Instruments</h1>

<p>
An instrument is the named combination of a MIDI {{ doc('device') }} and a MIDI Channel number.
</p>

<p>
<ul>
<li>An instrument has a minimum and maximum octave, outside of which notes will not play</li>
<li>An instrument has a base octave, which is added to the default note in any {{ doc('scale') }}.  Transpositions can still occur below this default value.</li>
</ul>
</p>

