<h1>Scales</h1>

<p>
A scale represents a named musical scale, having a scale type (aka "mode"), and starting from a certain note (aka a "root")".
<p>

{{ begin_info_block() }}
Warp does not require that you care about scales in your compositions, as you COULD input literal note names and octaves everywhere, if you so wish, but as Warp supports the concept of scale
changes in so many places, it is rather useful to use scales. Most examples in these documents will refer to scale intervals and chords in
scales rather than specific notes. To use scales you have to add them to your {{ doc('song', 'Songs') }}.
{{ end_info_block() }}

<p>
<ul>
<li>Warp ships with many pre-defined MIDI scales</li>
<li>Users may also define their own scales by interval: 1, 2, b3 ("flat third"), 5 ("perfect fifth"), etc.</li>
<li>Scales are effectively symbolic links to the scale definition, so when you edit a named scale, they change the scale everywhere scale is used.</li>
<li>Built in scale types include:
<ul>
<li>major (aka: ionian)</li>
<li>pentatonic</li>
<li>natural_minor (aka: aeolian, or just "minor")</li>
<li>blues</li>
<li>dorian</li>
<li>chromatic</li>
<li>harmonic_major</li>
<li>harmonic_minor</li>
<li>locrian</li>
<li>lydian</li>
<li>major_pentatonic</li>
<li>melodic_minor_asc</li>
<li>melodic_minor_desc</li>
<li>minor_pentatonic</li>
<li>mixolydian</li>
<li>phyrigian</li>
<li>akebono</li>
</ul>
</li>
<li>A given scale type can be used with any root note.</li>
<li>A scale may be set the {{ doc('song') }}, or overriden on the {{ doc('scene') }} or {{ doc('clip') }}.
</ul>
</p>