<h1>Scales</h1>
<hr/>

<p>
A scale represents a named musical scale, having a scale type (aka "mode"), and starting from a certain note (aka "root").
In general, Warp suggests defining notes and chords as relative scale intervals versus absolute notes, except for percussion tracks.
Scales are fundamental to Warp as the program was largely created due to flaws in the "force to scale" paradigm commonly used in other tools.
<p>

<p>
<ul>
<li>Warp ships with many pre-defined MIDI scale types</li>
<li>Users can also define their own scales by typing in a list of interval symbols: 1, 2, b3 ("flat third"), 5 ("perfect fifth"), etc.</li>
<li>Scale names used in patterns are effectively symbolic links to the scale definition, so when you edit the parameters of a named scale, they change the scale everywhere that name is used.</li>
<li>A given scale type can be used with any root note.</li>
<li>A scale may be set the {{ doc('song') }}, or overriden on the {{ doc('scene') }} or {{ doc('clip') }}.
</ul>
</p>

{{ begin_info_block() }}

<p>Built in scale types include:</p>

<ul>
<li>major (aka: ionian)</li>
<li>pentatonic</li>
<li>natural_minor (aka: aeolian, or just "minor")</li>
<li>blues</li>
<li>dorian</li>
<li>chromatic</li>
<li>harmonic_major</li>
<li>harmonic_minor</li>
<li>locrian</li>
<li>lydian</li>
<li>major_pentatonic</li>
<li>melodic_minor_asc</li>
<li>melodic_minor_desc</li>
<li>minor_pentatonic</li>
<li>mixolydian</li>
<li>phyrigian</li>
<li>akebono</li>
</ul>

<p>More built-in scales will be added in future versions</p>

{{ end_info_block() }}