<h1>Scales</h1>
<ul>
<li>A scale represents a named musical scale, having a scale type (aka "mode"), and starting from a certain note.</li>
<li>Warp ships with many pre-defined MIDI scales</li>
<li>Users may also define their own scales</li>
<li>Scales are effectively links to the scale definition, so when you edit them, they change everywhere the scale is referenced.</li>
<li>Built in scale types include:
<ul>
<li>major (aka: ionian)</li>
<li>pentatonic</li>
<li>natural_minor (aka: aeolian, minor)</li>
<li>blues</li>
<li>dorian</li>
<li>chromatic</li>
<li>harmonic_major</li>
<li>harmonic_minor</li>
<li>locrian</li>
<li>lydian</li>
<li>major_pentatonic</li>
<li>melodic_minor_asc</li>
<li>melodic_minor_desc</li>
<li>minor_pentatonic</li>
<li>mixolydian</li>
<li>phyrigian</li>
<li>akebono</li>
</ul>
</li>
<li>A scale may be set the {{ doc('song') }}, or overriden on the {{ doc('scene') }} or {{ doc('clip') }}.
</ul>