
<h1>Scenes</h1>

<p>A scene is a list of {{ doc('clip', 'Clips') }} that can be launched (played) together. When starting a new scene, all other clips not in the scene will stop.</p>

<p>
<ul>
<li>A scene may override the scale of the {{ doc('song') }}, if not further overriden on the {{ doc('clip', 'Clips') }} therein.</li>
<li>A scene may be set to auto_advance, in which case any of the {{ doc('clip', 'Clips') }} flagged as such will advance the scene to the next scene when finished.</li>
<li>There is no limit to the number of scenes you may have.</li>
<li>A clip may also define a tempo multiplier rate such as 0.5 (half speed) or 2 (double speed).</li>
</ul>
</p>