<h3>Song</h3>

<ul>
<li>Each Warp file is called a song</li>
<li>A song must define a default tempo, though this may be overriden in a {{ doc('scene') }} or {{ doc('clip') }}</li>
<li>A song may define a default scale, though this may also be overriden in a {{ doc('scene') }} or {{ doc('clip') }}</li>
</ul>
