<h1>Song</h1>

<p>
This chapter will explain some terms in Warp, and compare them a bit to what you may expect with music production tools you may be familiar with.
</p>

<p>
<ul>
<li>Each Warp file is called a Song. Each song definition is self contained in terms of configuration, so there is no equivalent to a "setup" or "preferences" menu in Warp.</li>
<li>A song must define a default tempo, which may be overriden in a {{ doc('scene') }} or {{ doc('clip') }}. The default is 120. Change it.</li>
<li>A song may define a default {{ doc('scale') }}, which may be overriden in a {{ doc('scene') }} or {{ doc('clip') }}.</li>
<li>Songs can be saved to and loaded from files, and files should be compatible with any future version of Warp.</li>
<li>Songs are technically JSON files, but hand edit them at your own risk. Instead, for working with songs programmatically, see the {{ doc('api') }}</li>
</ul>
</p>

{{ begin_info_block() }}
If you don't want to set up each {{ doc('device','Device') }} or {{ doc('instrument','Instrument') }} each time, a good idea would be to make an empty
Warp song called "template.warp" and start projects by opening this file. This is also a good place to keep your favorite user {{ doc('scale','Scale') }} definitions.
{{ end_info_block() }}

<h2>In Context</h2>

<p>
The diagram below, copied from the {{ doc('api','API Docs') }}, shows how all the objects in Warp are related. The remainder of this section
will provide more detail about each of these.</p>

<p>
<IMG SRC="./object_model.svg"/>
</p>