
<h3>Track</h3>
<ul>
<li>A track represents the assignment of an {{ doc('instrument') }} to a vertical group of {{ doc('clips','Clips') }}, each clip part of a different {{ doc('scene') }} </li>
<li>A track may be muted</li>
</ul>

