
<h1>Transforms</h1>

<p>Transforms are like meta-patterns that serve as MIDI effects.  They process patterns and modify the result before they are turned into MIDI events.
Transforms take notes listed in {{ doc('pattern','patterns') }} inside a {{ doc('clip') }} and then do "things" to them - they don't just have to change the notes - for instance,
they can also change velocity and MIDI CC data. Using just a few transforms can add a lot of sonic variety to repeated patterns.</p>

<p>
<ul>
<li>Classically, <b>arpeggiators</b> are used in computer synthesizers to turn chord patterns into individual notes, played in rapid sequence</li>
<li>In Warp, transforms CAN be used to create arpeggiators, but that is only the most basic usage of transforms.</li>
<li>in Warp, transforms can also run against individual notes (not just chords), and even turn those notes *back* into chords.</li>.
<li>Transforms achieve this power through {{ doc('expr_info', 'Mod Expressions') }}.
<li>Transforms have a <i>divide</i> time that decides how much they slice up notes or chords. For processing triads, usually use will want to set this to a multiple of 3.</li>
<li>in Warp, a {{ doc('clip','Clip') }} can contain a list of transforms, where one <i>or more</i> transforms is applied in rotation after another.</li>
</p>

<h2>Examples</h2>

Transform examples are included as part of the Expression Guide: see {{ doc('expr_transforms','here') }}.  Reading this chapter will give a lot better understanding of how
Transforms work and what they can do.